.card-notes {
  margin: 2rem 0;
  padding: 1rem;
  border: #000 3px solid;
  background: #fff;
}

.Notes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Notes a {
  font-size: 1.5rem;
  font-family: sans-serif;
  text-decoration: underline;
  font-weight: normal;
  color: #3777d8;
  cursor: pointer;
}
.Notes p {
  font-size: 1rem;
  font-family: sans-serif;
}
.title-note {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tags {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 900;
}
#removeCard {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  border: none;
  background: none;
}
