.container {
  width: 50%;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
  .card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
