@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500&display=swap");

.Title-page {
  margin: 2rem 0;
}

.Title-page h1 {
  font-size: 2.5rem;
  font-family: "Red Hat Mono", monospace;
}
.Title-page h2 {
  font-size: 2rem;
  font-family: "Red Hat Mono", monospace;
  font-weight: 400;
}
